<h2>Student Dashboard</h2>

<hr />

<p>
    Welcome:
    <b>@ViewBag.StudentName</b>
</p>

<p>
    Course:
    <b>@ViewBag.Course</b>
</p>

<p>
    Selected Theme:
    <b>@ViewBag.Theme</b>
</p>

<hr />

<h3>Portal Features</h3>

<ul>
    <li>Session Management</li>
    <li>Cookies Handling</li>
    <li>Custom Filters</li>
    <li>Global Logging</li>
    <li>Authorization Check</li>
</ul>

<hr />

<a href="/Account/Logout">
    <button>Logout</button>
</a>